<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'cryptomessages/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'cryptomessages/css/main.css' %}">
    </head>
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <h1><center><strong>Hybrid cryptosystem:</strong> ElGamal + AES-256 </center></h1>
    <br />
    <br />
    <div class="row">
        <!-- local client -->
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span>  Client</div>
                <div class="panel-body" style="background-color: #f0f0f0;">
                    <div class="panel panel-default">
                        <div class="panel-heading">Message</div>
                        <textarea id="input-text-area" name="Text1" class="panel-body" rows="10" style="width:100%;" placeholder="Enter text here..."></textarea>
                    </div>
                    <button class="btn btn-primary" onclick="sendToServer()">Send</button>
                    <br /><br />
                    <div class="panel panel-default">
                        <div class="panel-heading">Client's Key</div>
                        <div id="client-key" class="panel-body"></div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Client's Initialization Vector</div>
                        <div id="client-iv" class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Web -->
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-cloud"></span>  Web (Public Space)</div>
                <div class="panel-body" style="background-color: #f0f0f0;">
                    <div class="panel panel-default">
                        <div class="panel-heading">Server's Public Key</div>
                        <div id="server-encrypted-key" class="panel-body"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Client's Encrypted Key</div>
                        <div id="local-encrypted-key" class="panel-body"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Client's Encrypted Initialization Vector</div>
                        <div id="local-encrypted-iv" class="panel-body"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Client's Encrypted Message</div>
                        <div id="local-encrypted-msg" class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Server -->
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span>  Server</div>
                <div class="panel-body" style="background-color: #f0f0f0;">
                    <div class="panel panel-default">
                        <div class="panel-heading">Message decrypted by server</div>
                        <div id="server-decrypted-text-area" class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="{% static 'cryptomessages/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://peterolson.github.com/BigInteger.js/BigInteger.min.js"></script>


<script type="text/javascript" src="{% static 'cryptomessages/js/aes.js' %}"></script>
<script type="text/javascript" src="{% static 'cryptomessages/js/index.js' %}"></script>
<script type="text/javascript">
    var publicKeys = {{ public_keys|safe }};
</script>

</html>